@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;700;900&display=swap');

:root {
    --color-brand-purpple: #6041BA;
    --color-brand-green: #4DB087;
    --color-brand-yellow: rgb(255 167 11);
    --color-brand-yellow-dark: rgb(146, 93, 1);
    --color-brand-warning: rgba(255, 167, 11, .4);
    --color-brand-red: #EA356E;
    --color-brand-text: #6F6F6F;;

    --color-background: #EDEDEE;

    --color-opacity: 1;

    font-family: Poppins;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;

    background-color: var(--color-background);
    color: var(--color-brand-text);

    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 30%;
    min-height: 30%;
    background-color: #fff;
    border: 1px solid #C1B1AA;

    border-radius: .8rem;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.8rem;
}

/* header */
header {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

hr {
    margin: .5rem 0 1rem 0;
}


.sizes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 5rem;
}

.sizes .paper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sizes .paper span {
    font-size: 1.2rem;
}

.sizes .paper .form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-brand-text);

    border-radius: .8rem;
    margin: .4rem 0;
}

.sizes .paper .form input {
    width: 100%;
    height: 4rem;

    padding: 1rem;

    font-size: 1.6rem;

    border-radius: .8rem 0 0 .8rem;
    border: 1px solid var(--color-brand-text);
}

.sizes .paper .form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

.sizes .paper .forminput[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;

}

.sizes .paper .form input:focus {
    outline: 2px solid #9d7efa;
}

.sizes .paper .form span {
    width: 12rem;
    height: auto;

    font-size: 1.8rem;
    text-align: center;
    color: var(--color-background);
}

.reports {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reports canvas {
    width: 100%;
    border: 1px solid var(--color-brand-text);
    border-radius: .8rem;
}

#used {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 1.8rem;
}

footer .result {
    display: flex;
    margin: 1.2rem;
}

footer .result span {
    width: 100%;

    font-size: 1.4rem;
    text-align: center;
}

#used .danger {
    width: 100%;

    font-size: 1.2rem;
    text-align: center;
    color: var(--color-background);

    background-color: var(--color-brand-red);

    padding: .6rem;
    border-radius: .8rem;
}

#used .success {
    width: 100%;

    font-size: 1.2rem;
    text-align: center;
    color: var(--color-background);
    
    background-color: var(--color-brand-green);

    padding: .6rem;
    border-radius: .8rem;
}

.warning {
    width: 100%;

    font-size: 1.2rem;
    text-align: center;
    color: var(--color-brand-yellow-dark);
    
    background-color: var(--color-brand-warning);

    padding: .6rem;
    border: 1.8px solid var(--color-brand-yellow);
    border-radius: .8rem;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 1.8rem;
}

footer button {
    width: 100%;
    height: 4rem;

    background-color: var(--color-brand-purpple);
    color: #fff;

    font-size: 1.4rem;

    border-radius: .8rem;
    border: none;

    cursor: pointer;

    transition: .6s ease;
    ;
}

footer button:hover,
:focus {
    filter: brightness(.9);
}

@media only screen and (max-width: 600px) {
    body {
        width: 100vw;
        height: auto;

        background-color: #fff
    }

    #app {
        width: 100%;
        border-radius: 0;

        background-color: transparent;

        border: none;
    }

    main {
        width: 100%s;
        display: flex;
        flex-direction: column-reverse;
    }

    header {
        display: none;
    }

    .sizes {
        width: 100%;
        gap: 1.6rem;
    }
}